## pandas, numpy module 불러오기

# 7-1. 통계 함수
## 주요 통계 함수 목록
<img src="img/7강/통계함수.jpg" alt="통계함수" style="width: 400px;"/>

## 주요 함수 옵션
<img src="img/7강/주요함수옵션.jpg" alt="주요옵션" style="width: 400px;"/>

### ** axis는 통계함수 뿐만 아니라, 많은 함수에서 동일하게 적용됨. **

In [2]:
# 샘플 데이터 생성
np.random.seed(321)

df = pd.DataFrame(np.random.randint(50, 100, (5, 4)), 
                  columns=,
                  index = ['Kim','Park','Lee','Jung','Moon'])

df.index.set_names('학생명', inplace=True)
df.columns.set_names(['연도','과목'], inplace=True)
df

연도   2016     2017
과목     영어  수학   영어  수학
학생명
Kim    76  81   91  58
Park   67  90   76  74
Lee    87  58   69  71
Jung   51  77   76  63
Moon   93  81   60  87

In [ ]:
# Kim 학생의 2016년 영어 성적을 NA로 처리하기

In [ ]:
# df 확인

In [ ]:
# 2016년 성적만 선택해서 df2016에 저장

In [ ]:
# 1) count() - NaN 값을 제외한 데이터의 갯수

In [ ]:
# 원래 값으로 되돌려 놓기

In [ ]:
# 2) describe() - 각 컬럼에 대한 요약 통계량을 확인해주는 함수

In [ ]:
# 3) sum() - 값의 합을 계산
# 기본적으로 함수는 각 컬럼에 있는 로우(row)들의 값들로 수행 (default: axis =0)

In [ ]:
# 4) mean() - 값의 평균을 계산
# 각 학생들의 과목 평균 구하기

In [ ]:
# 5) cumsum() - cumulative sum

# 7-2. 정렬
## * 데이터 정렬 : sort_values()
<img src="img/7강/데이터프레임정렬.jpg" alt="DataFrame.sort_values" style="width: 600px;"/>
## * 인덱스 정렬 : sort_index() - 인자는 sort_values()와 동일

## 1) Series 정렬

In [3]:
# Series 정렬을 위한 샘플 데이터

b    3.0
c    5.0
a    2.0
f    1.0
e    7.0
d    NaN
dtype: float64

## A. index 정렬

In [ ]:
# 오름차순 정렬, 기본값 = True

In [ ]:
# 내림차순 정렬

## B. value 정렬

In [ ]:
# NA값을 맨 마지막으로 오름차순 정렬, 기본값 = True

In [ ]:
# NA값을 맨 처음으로 내림차순 정렬

## 2) DataFrame 정렬

In [4]:
# sample data 생성
dic = {'영어':[10, 60, 80, 30, 40, 50, 20, 70, 30, 90],
       '수학':[90, 80, 70, 60, 50, 50, 40, 30, 30, 20]}

df2 = pd.DataFrame(dic)
df2

   영어  수학
0  10  90
1  60  80
2  80  70
3  30  60
4  40  50
5  50  50
6  20  40
7  70  30
8  30  30
9  90  20

## A. index 정렬

In [ ]:
# row index 정렬 (default: axis=0)

In [ ]:
# column index 정렬

## B. value 정렬

In [ ]:
# 수학 성적으로 오름차순 정렬

In [ ]:
# 영어 성적으로 내림차순 정렬

In [ ]:
# column index 정렬하고 수학을 기준으로 내림차순 정렬

In [ ]:
# 2개의 기준으로 정렬
# 수학을 기준으로 내림차순 정렬하고 수학 점수가 같은 경우 영어 성적으로 내림차순 정렬

In [ ]:
# 수학을 기준으로 내림차순 정렬하고 수학 점수가 같은 경우 영어 성적으로 오름차순 정렬

## 3) 계층 색인 DataFrame 정렬

In [ ]:
# data frame확인

In [ ]:
# 2017년 수학 성적 기준으로 내림차순 정렬

In [ ]:
# 2016년 평균을 구하고 2016년 평균을 기준으로 내림차순 정렬