In [2]:
# module 불러오기

# 데이터 가공 1 - 데이터 합치기
## pandas.merge()
<img src="img/4강/merge예제.jpg" alt="merge예제" style="width: 600px;"/>

In [3]:
# sample data 생성

   A  B
0  1  3
1  1  2
2  2  5
   A          C
0  1        big
1  2       data
2  3  analytics

In [ ]:
# 'A'를 기준으로 합치기
# pd.merge(df1, df2, on = 'A')

   ### 주요 파라미터
   - 키를 기준으로 DataFrame의 로우를 합친다. SQL이나 다른 관계형 데이터베이스의 join 연산과 동일함.
   - 주요 파라미터        
      . left, right : merge할 DataFrame 객체이름
      
      . how = 'inner', #left, right, outer
      
      . on = None, #merge의 기준이 되는 컬럼
      
      . left_on = None, #left DataFrame의 기준 컬럼
      
      . right_on = None, #right DataFrame의 기준 컬럼

In [ ]:
df_left = DataFrame({'KEY': ['k0', 'k1', 'k2', 'k3'],
                     'A': ['a0', 'a1', 'a2', 'a3'],
                     'B': ['b0', 'b1', 'b2', 'b3']})
df_right = DataFrame({'KEY': ['k2', 'k3', 'k4', 'k5'],
                     'C': ['c2', 'c3', 'c4', 'c5'],
                     'D': ['d2', 'd3', 'd4', 'd5']})

In [ ]:
# df_left 출력

In [ ]:
# df_right 출력

In [ ]:
# inner join

In [ ]:
# left outer join

In [ ]:
#right outer join

In [ ]:
# fully outer join

In [ ]:
# 실습 
# 아래 2개의 DataFrame을 K1과 K2 컬럼으로 outer merge
df_left2 = DataFrame({'K1': ['k0', 'k1', 'k2', 'k3'],
                      'A': ['a0', 'a1', 'a2', 'a3'],
                      'B': ['b0', 'b1', 'b2', 'b3']})
df_right2 = DataFrame({'K2': ['k2', 'k3', 'k4', 'k5'],
                       'C': ['c2', 'c3', 'c4', 'c5'],
                       'D': ['d2', 'd3', 'd4', 'd5']})

In [ ]:
# 실습

In [ ]:
# 실제 데이터 실습
# 데이터 읽어오기
# 데이터 파일: 'data/movielens/users.dat'
# 컬럼명 = ['사용자아이디','성별','연령','직업','지역']

In [ ]:
# head()

In [ ]:
# 평점 데이터 읽어오기
# 데이터 파일 : data/movielens/ratings.dat
# 컬럼명들은 ['사용자아이디', '영화아이디', '평점', '타임스탬프']

In [ ]:
# head()

In [ ]:
# 사용자와 평점 데이터 합치기(outer)

In [ ]:
# 사용자와 평점 데이터 합치기(left)

In [ ]:
# users에는 저장된 사용자지만, ratings에는 없는 사용자 찾기
# isnull()

## pandas.concat(axis = 0)
<img src="img/4강/concat0예제.jpg" alt="csv파일예제" style="width: 600px;"/>

In [ ]:
# df1과 df2 concat 수행하기

In [ ]:
# 실제 데이터 실습
#  data/NC Dinos.xlsx 파일에서 2013, 2014, 2015시즌 정보를 읽어서
# 각각 NC13, NC14, NC15에 저장

In [ ]:
# 필요없는 컬럼 제거

In [ ]:
# 연도 column 추가

In [ ]:
# pd.concat 수행
# 행으로 합치기

## pandas.concat(axis = 1)
<img src="img/4강/concat1예제.jpg" alt="csv파일예제" style="width: 800px;"/>

In [ ]:
# 샘플 데이터 생성

In [ ]:
# concat with axis = 1 수행
# inner join

###  실습. 로우 인덱스는 '선수명'으로, 컬럼 인덱스는 '연도'로 구성하여, 
### NC 다이노스 선수들의 홈런 기록을 연도별로 볼 수 있도록 데이터프레임을 구성하시오. 
<img src="img/4강/concat예제NC.jpg" alt="NC선수예제" style="width: 200px;"/>

In [ ]:
# set_index() : index 설정하기