## 피라미드 만들어보기(for문 사용)

In [2]:
# 여기 셀에 코드 작성하지말고 밑에 셀에서 작성해주세요

     *
    ***
   *****
  *******

# 피라미드 만들어보기(for문, if문 사용)
## for문 1번만 사용

In [7]:
# 여기 셀에 코드 작성하지말고 밑에 셀에서 작성해주세요

*
***
*****
*******
*******
*****
***
*

# 1~1000 사이의
## 3의 배수, 4의배수 list자료구조 각각 만들어보기

# 위의 2가지 list자료구조에서 공통으로 포함된 숫자 list에 담아고 정렬하기
## HINT : 다른 자료구조를 통해서 공통집합을 찾고 list()함수를 이용하여 list 자료구조료 변환

# 아래와 같은 student dictionary자료구조가 있을때
# age의 총합 구해보기

In [0]:
student = {1: {'name': 'a', 'age': 27},
           2: {'name': 'b', 'age': 25},
           3: {'name': 'c', 'age': 31},
           4: {'name': 'd', 'age': 22},
           5: {'name': 'e', 'age': 15}}