## 피라미드 만들어보기(for문 사용)

In [ ]:
# 여기 셀에 코드 작성하지말고 밑에 셀에서 작성해주세요

In [23]:
for i in range(4):
    print(' '*(4-i), '*'*(2*i+1))

     *
    ***
   *****
  *******

# 피라미드 만들어보기(for문, if문 사용)
## for문 1번만 사용

In [ ]:
# 여기 셀에 코드 작성하지말고 밑에 셀에서 작성해주세요

In [ ]:
0
1
2
3
4
5
6
7

In [1]:
for i in range(8):
    if i<4:
        print('*'*(2*i+1))
    else:
        print('*'*(2*(7-i)+1))

*
***
*****
*******
*******
*****
***
*

# 1~1000 사이의
## 3의 배수, 4의배수 list자료구조 각각 만들어보기

In [5]:
multiple_3 = [x for x in range(3, 1001, 3)]
multiple_4 = [x for x in range(4, 1001, 4)]

In [2]:
multiple_3 = [x for x in range(1, 1001) if x%3==0]

# 위의 2가지 list자료구조에서 공통으로 포함된 숫자 list에 담아고 정렬하기
## HINT : 다른 자료구조를 통해서 공통집합을 찾고 list()함수를 이용하여 list 자료구조료 변환

In [7]:
multiple_12 = set(multiple_3).intersection(set(multiple_4))

In [15]:
multiple_12 = list(multiple_12)
multiple_12.sort()
print(multiple_12)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192, 204, 216, 228, 240, 252, 264, 276, 288, 300, 312, 324, 336, 348, 360, 372, 384, 396, 408, 420, 432, 444, 456, 468, 480, 492, 504, 516, 528, 540, 552, 564, 576, 588, 600, 612, 624, 636, 648, 660, 672, 684, 696, 708, 720, 732, 744, 756, 768, 780, 792, 804, 816, 828, 840, 852, 864, 876, 888, 900, 912, 924, 936, 948, 960, 972, 984, 996]

# 아래와 같은 student dictionary자료구조가 있을때
# age의 총합 구해보기

In [ ]:
{key : value}
{key : {key : value}}
{key : {key : {key : value}}}

In [17]:
student = {1: {'name': 'a', 'age': 27},
           2: {'name': 'b', 'age': 25},
           3: {'name': 'c', 'age': 31},
           4: {'name': 'd', 'age': 22},
           5: {'name': 'e', 'age': 15}}

In [21]:
sum_age = 0

for i in student.keys():
    # sum_age = sum_age + student[i]['age']
    sum_age += student[i]['age']

27
25
31
22
15

In [23]:
a = 0
for i in range(5):
    b = 1
    
print(b)

1