## 1. pandas library 불러오기

In [2]:
import pandas as pd

## 2. 100부터 시작해서 1000까지 3씩 증가하는 값을 Series에 담아주세요

In [3]:
data = pd.Series([x for x in range(100, 1001, 3)])

## 3. 2번의 Series에서 평균보다 큰 값만 추출해주세요

In [5]:
data[data > data.mean()]

151     553
152     556
153     559
154     562
155     565
       ...
296     988
297     991
298     994
299     997
300    1000
Length: 150, dtype: int64

## 4. 2번의 Series에서 25%보다 큰 값만 추출해주세요
### HINT : describe()함수 사용

In [8]:
data[data > data.describe()[4]]

76      328
77      331
78      334
79      337
80      340
       ...
296     988
297     991
298     994
299     997
300    1000
Length: 225, dtype: int64

In [11]:
# population_2015라는 변수에 list를 이용해서 아래와 같은 Series를 만들어주세요
# 셀 작성은 아래 셀에서 진행해주세요

부산    100000
서울    120000
인천     50000
대전     70000
dtype: int64

In [27]:
population_2015 = pd.Series([100000, 120000, 50000, 70000],
                            index=['부산', '서울', '인천', '대구'])
population_2015

부산    100000
서울    120000
인천     50000
대구     70000
dtype: int64

In [14]:
# population_2016라는 변수에 dictionary를 이용해서 아래와 같은 Series를 만들어주세요 
# 셀 작성은 아래 셀에서 진행해주세요

부산    150000
서울    120000
인천     60000
대전    100000
dtype: int64

In [28]:
population_2016 = pd.Series({"부산": 150000, "서울": 120000, "인천": 60000, "대전": 100000})
population_2016

부산    150000
서울    120000
인천     60000
대전    100000
dtype: int64

## 부산 인천 도시의 인구 증가율을 구해주세요

In [31]:
a = population_2015.iloc[[0,2]] 
b = population_2016.iloc[[0,2]]
(b-a) / a * 100

부산    50.0
인천    20.0
dtype: float64