In [1]:
# pandas, numpy moudle 불러오기

## 6. 계층 색인 (다중 색인)
### 2개 이상의 색인(인덱스)를 지정할 수 있다. 
### 차원이 높은 (고차원) 데이터를 낮은 차원의 형식으로 다룰 수 있게 해주는 기능

In [2]:
# 샘플 데이터 생성
np.random.seed(0)

df = pd.DataFrame(np.random.randint(50, 100, (5, 4)), 
                  columns=[[2016, 2016, 2017, 2017], ['영어','수학','영어','수학']], 
                  index = ['Kim','Park','Lee','Jung','Moon'])

     2016     2017
       영어  수학   영어  수학
Kim    94  97   50  53
Park   53  89   59  69
Lee    71  86   73  56
Jung   74  74   62  51
Moon   88  89   73  96

In [4]:
# index 확인

Index(['Kim', 'Park', 'Lee', 'Jung', 'Moon'], dtype='object')

In [5]:
# column 확인

MultiIndex([(2016, '영어'),
            (2016, '수학'),
            (2017, '영어'),
            (2017, '수학')],
           )

## 인덱싱
### 다중 인덱스의 경우 여러 인덱스를 () 튜플의 형태로 묶어주어서 표현

## 1. xs() method - 열 
### 한개의 column만 선택 가능
### axis=0, level=0 (default)
### axis=0(행), axis=1(열)
### level=0(상위레벨), level=1(하위레벨)

In [ ]:
#2016년 영어, 수학 성적 조회

## 2. 기존 index loc 방식 - 열

In [ ]:
#2016년 영어, 수학 성적 조회

In [ ]:
#2016년 영어 성적만 조회
#최상위 인덱스부터 명시하며, 인덱싱하고자하는 색인들을 튜플 형태로 정의

In [ ]:
# 2017년 수학 조회

In [ ]:
# 2017년 Kim의 수학 점수 조회

## 1. xs() method - 행

In [ ]:
# Kim의 성적만 선택

## 2. 기본 index 방식 - 행

In [ ]:
# Kim의 성적만 선택

# 실습

In [ ]:
# 실습 1 
# Kim, Park, Lee의 성적만 선택

In [ ]:
#  실습 2
# 'Kim', 'Lee'의 2016년 영어 성적 조회

In [ ]:
# 실습 3
# 2016, 2017년도 영어 성적만 선택

##  index 이름 부여하기 (set_names)

In [ ]:
# row index의 이름을 '학생명'이라고 정의하기

In [ ]:
# column index의 이름을 '연도', '과목'이라고 정의하기

## 1) swaplevel(index1, index2, axis)
### index1과 index2의 위치를 변경함. 
### index1과 index2가 row index 경우, axis = 0
### index1과 index2가 column index 경우, axis = 1

In [ ]:
# 년도와 과목의 위치를 변경

## 2) stack(), unstack() 함수
### stack(level) : 컬럼 인덱스를 로우 인덱스로 옮길 때 사용.
### unstack(level): 로우 인덱스를 컬럼 인덱스로 옮길 때 사용.
### level 인자는 옮기고자 하는 인덱스의 위치를 표기함. 명시하지 않은 경우, 최하단의 인덱스를 이동시킴.
### level은 최상위가 0이고, 1씩 증가함

In [ ]:
# 컬럼 인덱스 과목을 로우 인덱스로 변경하고 df2에 저장

### df2를 대상으로 아래 실습 문제 수행

In [ ]:
# 실습1
# Kim의 성적만 선택

In [ ]:
# 실습2
# Park의 수학 성적만 선택

In [ ]:
# 실습3
# 모든 학생들의 영어 성적만 선택

In [ ]:
# 실습4
# Park 학생의 2016년 영어 성적만 출력

In [ ]:
# 실습5
# 학생들의 과목별 성적의 평균을 구해서, 새로운 컬럼 '평균'으로 저장

# 실습
## data/NC Dinos.xlsx 파일을 읽어서, 아래 결과처럼 나오도록 하시오. 
<img src="img/6강/NC계층색인예제.jpg" alt="NC계층색인예제" style="width: 350px;"/>

In [ ]:
# 데이터 불러오기

# 필요없는 컬럼 제거


# 연도 추가

# index 설정