## pandas 불러오기

## 1. 아래의 baseball_dic에서 
## 밑에 있는 타율, 안타, 홈런, 타점 데이터를
## dictionary 형식으로 추가해서 데이터프레임을 최종 완성해주세요
### column name은 타율(avg), 안타(hit), 홈런(homerun), 타점(rbi)로 해주세요(한글x)

In [ ]:
baseball_dic = {'order':[x for x in range(1, 20)],
                'name':['김현수', '양의지', '이정후', '박병호', '안치홍', '전준우', '김주찬', '최형우',
                        '유한준', '김재환', '최주환', '이대호', '구자욱', '채은성', '러프', '이재원', '손아섭', 
                        '박건우', '허경민'],
                'team':['LG', '두산', '넥센', '넥센', 'KIA', '롯데', 'KIA', 'KIA',
                        'KT', '두산', '두산', '롯데', '삼성', 'LG', '삼성', 'SK', '롯데', 
                        '두산', '두산']}

In [ ]:
# 타율
0.362,0.358,0.355,0.345,0.342,0.342,0.34,0.339,0.339,0.334,0.333,0.333,0.333,0.331,0.33,0.329,0.329,0.326,0.324

# 안타
164,157,163,138,169,190,146,179,145,176,173,181,159,175,167,134,182,159,167

# 홈런
20,23,6,43,23,33,18,25,20,44,26,37,20,25,33,17,26,12,10

# 타점
101,77,57,112,118,90,93,103,83,133,108,125,84,119,125,57,93,84,79

In [ ]:
# 최종 data frmae

## (1)의 data frame을 이용해서 문제를 풀어주세요

In [ ]:
# 1~10순위의 name과 homerun column만 불러오기

In [ ]:
# 11~20순위의 order, team, hit, rbi 불러오기
# order, team, hit, rbi는 column이 1개씩 건너띄는 column입니다 이를 생각하고 풀어주세요
# ['order', 'team', 'hit', 'rbi'] <- 이거 사용 금지!

In [ ]:
# for문을 사용해서 타점(rbi)이 100이상인 사람이 몇명인지 출력해보기

In [ ]:
# 타율이 0.3이상이고 홈런이 30개이상인 선수들의 평균 타율, 평균 안타, 평균 홈런, 평균 타점을 출력해주세요

In [ ]:
# hh라는 이름으로 hit * 1 + homerun * 4 column 추가하기

In [ ]:
# 각 팀에 해당되는 인원이 몇명이 있는지 확인해보기
# data frame에 있는 두산, 롯데, KIA, 삼성, 넥센, LG, KT, SK에 각각 몇명이 있는지 출력