# Pandas 주요 데이터 타입

## Series (시리즈)
<img src="img/1강/Series소개.jpg" alt="datetime" style="width: 1000px;"/>

In [1]:
# python module import

# as를 통하여 module을 간단하게 접근한다

# pandas.Series == pd.Series

# from module import moudle function

# Series 생성

## (1) list로 생성

0    3
1    5
2    1
3    2
dtype: int64

## (2) dictionary로 생성

In [14]:
# 사전 타입의 데이터로 Series 생성

a     3
b    15
c     5
d    35
dtype: int64

In [16]:
# type(data) : data의 타입 확인

pandas.core.series.Series

In [17]:
# dtypes : data 형태 반환

dtype('int64')

In [18]:
# 3번째 데이터 접근
# python index는 0부터 시작

1

In [2]:
# 값은 모든 데이터 타입 가능

0     big data
1           30
2    [1, 2, 3]
dtype: object

0    3
1    5
2    1
3    2
dtype: int64
a     3
b    15
c     5
d    35
dtype: int64
0     big data
1           30
2    [1, 2, 3]
dtype: object

In [21]:
# Series.index : series index

강의명      big data
수강생수           30
비고      [1, 2, 3]
dtype: object

In [23]:
# index label로 Series 접근

30

In [24]:
# Series 생성할 때 index 같이 생성

a     3
b    15
c     5
d    35
dtype: int64

In [25]:
# index 숫자로 접근

5

In [26]:
# index name으로 접근

5

# Series 색인

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

In [34]:
# 숫자인덱스가 5인 항목 조회

60

In [35]:
# 인덱스 라벨이 'f'인 항목 조회

60

In [32]:
# 숫자인덱스가 1,3,5인 항목 조회

b    20
d    40
f    60
dtype: int64

In [37]:
# 'a','c','f' 만 조회

a    10
c    30
f    60
dtype: int64

# 인덱스 슬라이싱 (숫자 인덱스)
<img src="img/1강/3문자열슬라이싱.jpg" alt="datetime" style="width: 800px;"/>

### 1) :을 기점으로 왼쪽에 start index, 오른쪽에 end index 지정
### 2) start index 보다 크거나 같고, end index보다 작은 항목을 선택
### 3) 예를 들어, a[2:5]는 a[[2,3,4]]와 동일
### 4) start index와 end index는 생략 가능하며, 생략 시 start index는 첫 인덱스, end index는 끝 인덱스로 지정됨.
### 5) 음수 인덱스는 끝에서 시작되는 역인덱스임.

In [38]:
# 숫자 인덱스가 2,3,4,5인 항목 선택
#data5[[2,3,4,5]]

c    30
d    40
e    50
f    60
dtype: int64

In [39]:
# 맨 앞에 있는 5개의 항목 선택

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [41]:
# 뒤에서 2번째 항목 선택

90

In [42]:
# 가장 뒤에 있는 3개의 항목 선택

h     80
i     90
j    100
dtype: int64

In [43]:
# 뒤에서 3번째, 2번째 불러오기

h    80
i    90
dtype: int64

In [44]:
# 인덱스 라벨이 'c'부터 'g'까지 항목 선택

c    30
d    40
e    50
f    60
g    70
dtype: int64

# 조건을 활용한 인덱스 선택 (조건 색인)
# 데이터 분석에서 가장 중요한 부분이므로 반드시 기억해야함!
<img src="img/1강/조건색인.jpg" alt="datetime" style="width: 1000px;"/>

In [45]:
# 데이터 값이 70이상인 데이터만 불러오기

g     70
h     80
i     90
j    100
dtype: int64

In [46]:
# 값이 30보다 크거나 같고, 70보다 작은 항목만 선택

c    30
d    40
e    50
f    60
dtype: int64

# Series 속성 조회 및 주요 함수
# 가장 중요 최고로 중요
<img src="img/1강/Series주요속성및함수.jpg" alt="datetime" style="width: 1000px;"/>

A    10.0
B    -2.0
C     3.5
D     4.0
E     8.0
dtype: float64

## 속성 (Attributes)

In [50]:
# index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [51]:
# values

array([10. , -2. ,  3.5,  4. ,  8. ])

In [52]:
# dtype

dtype('float64')

In [53]:
# size

5

In [54]:
# loc

3.5

In [57]:
# iloc

3.5

## 함수 (function)

In [60]:
# abs()

A    10.0
B     2.0
C     3.5
D     4.0
E     8.0
dtype: float64

In [63]:
# max()

10.0

In [64]:
# min()

-2.0

In [87]:
# mean()

5.583333333333333

In [68]:
# append()

A    10.0
B    -2.0
C     3.5
D     4.0
E     8.0
F    10.0
dtype: float64

In [69]:
# add()

A    12.0
B     0.0
C     5.5
D     6.0
E    10.0
F    12.0
dtype: float64

In [70]:
# describe()

count     6.000000
mean      5.583333
std       4.673507
min      -2.000000
25%       3.625000
50%       6.000000
75%       9.500000
max      10.000000
dtype: float64

In [85]:
# 0 ~100 Series만들기

0        0
1        1
2        2
3        3
4        4
      ...
96      96
97      97
98      98
99      99
100    100
Length: 101, dtype: int64

count    101.000000
mean      50.000000
std       29.300171
min        0.000000
25%       25.000000
50%       50.000000
75%       75.000000
max      100.000000
dtype: float64