## pandas 불러오기

In [1]:
import pandas as pd

## users.data 불러오기

In [2]:
users = pd.read_csv('data/movielens/users.dat', sep = '::',
                    engine='python',
                   names =  ['사용자아이디','성별','연령','직업','지역'])

## ratings.data 불러오기

In [3]:
ratings = pd.read_csv('data/movielens/ratings.dat', sep = '::',
                     engine = 'python',
                     names = ['사용자아이디', '영화아이디', '평점', '타임스탬프'])

## users.dat와 ratings.dat를 inner join 해주세요

In [4]:
df_merge = pd.merge(users, ratings, how='inner')

## inner join한 데이터의 처음 10개 행을 출력해주세요

In [5]:
df_merge.head(10)

   사용자아이디 성별  연령  직업     지역  영화아이디  평점      타임스탬프
0       1  F   1  10  48067   1193   5  978300760
1       1  F   1  10  48067    661   3  978302109
2       1  F   1  10  48067    914   3  978301968
3       1  F   1  10  48067   3408   4  978300275
4       1  F   1  10  48067   2355   5  978824291
5       1  F   1  10  48067   1197   3  978302268
6       1  F   1  10  48067   1287   5  978302039
7       1  F   1  10  48067   2804   5  978300719
8       1  F   1  10  48067    594   4  978302268
9       1  F   1  10  48067    919   4  978301368

## 타임스탬프 column을 삭제해주세요

In [6]:
df_merge.drop(['타임스탬프'], axis=1, inplace=True)

## 총 사용자가 몇명이고 영화에 가장 많은 평점을 부여한 5명을 찾아주세요

In [7]:
df_merge['사용자아이디'].value_counts()

4169    2314
1680    1850
4277    1743
1941    1595
1181    1521
        ...
761       20
1493      20
5533      20
2714      20
2696      20
Name: 사용자아이디, Length: 6040, dtype: int64

In [8]:
user_count = df_merge['사용자아이디'].value_counts()

print('총 사용자는 %d 명 입니다' % user_count.shape[0])
for i in user_count[:5]:
    print('가장 많은 평점을 부여한 사람은 %s 입니다' % user_count.iloc[i])

총 사용자는 6040 명 입니다
가장 많은 평점을 부여한 사람은 133 입니다
가장 많은 평점을 부여한 사람은 170 입니다
가장 많은 평점을 부여한 사람은 180 입니다
가장 많은 평점을 부여한 사람은 199 입니다
가장 많은 평점을 부여한 사람은 206 입니다

## 각 직업마다의 영화 평균 평점을 구한 데이터프레임을 만들어주세요

In [31]:
# 아래와 같은 데이터 프레임 결과를 만들어주세요
# 코드 작성은 아래 셀에서 해주세요

    직업        평점
0    0  3.537544
1    1  3.576642
2    2  3.573081
3    3  3.656516
4    4  3.536793
5    5  3.537529
6    6  3.661578
7    7  3.599772
8    8  3.466741
9    9  3.656589
10  10  3.532675
11  11  3.617371
12  12  3.654001
13  13  3.781736
14  14  3.618481
15  15  3.689774
16  16  3.596575
17  17  3.613574
18  18  3.530117
19  19  3.414050
20  20  3.497392

In [9]:
job = []
score = []

for i in df_merge['직업'].value_counts().sort_index().index:
    job.append(i)
    job_score = df_merge[df_merge['직업'] == i]['평점'].mean()
    score.append(job_score)
    
job_score = pd.DataFrame({'직업':job, '평점':score})
job_score

    직업        평점
0    0  3.537544
1    1  3.576642
2    2  3.573081
3    3  3.656516
4    4  3.536793
5    5  3.537529
6    6  3.661578
7    7  3.599772
8    8  3.466741
9    9  3.656589
10  10  3.532675
11  11  3.617371
12  12  3.654001
13  13  3.781736
14  14  3.618481
15  15  3.689774
16  16  3.596575
17  17  3.613574
18  18  3.530117
19  19  3.414050
20  20  3.497392

In [10]:
from tqdm import tqdm

## 영화 id 특정 번호 사이의 평점 평균 구해보기(함수를 통해서) 
### between_rating_mean이라는 함수를 만들어서 아래와 같은 출력 값이 나와야 합니다!
### 밑에 3.51127값은 영화 id가 10~20(20포함)인 평점의 평균을 구한 값입니다

In [17]:
# 여기 있는 셀은 건드리지 마세요!
between_rating_mean(10, 20)

3.5112717992343683

In [16]:
def between_rating_mean(num1, num2):
    movie_between = range(num1, num2+1)
    rating_score = 0
    num = 0
    
    for i in tqdm(movie_between):
        temp = df_merge[df_merge.영화아이디 == i]['평점']
        temp_mean = temp.mean()
        temp_num = temp.shape[0]
        num += temp_num
        rating_score += (temp_mean*temp_num)
        
    return rating_score/num

In [7]:
movie_between = range(10, 20+1)
rating_score = 0
num = 0

for i in movie_between:
    temp = df_merge[df_merge.영화아이디 == i]['평점']
    print(temp.values.mean())

3.5405405405405403
3.7938044530493706
2.3625
3.2626262626262625
3.542483660130719
2.458904109589041
3.7932551319648096
4.027544910179641
3.337579617834395
2.480719794344473
2.5375

In [12]:
between_rating_mean(10, 20)

100%|█████████████████████████████████████████████████████████████████████████████████| 11/11 [00:00<00:00, 125.07it/s]

3.5112717992343683

In [13]:
def between_rating_mean2(num1, num2):
    movie_between = range(num1, num2+1)
    rating_score = 0
    num = 0
    
    for i in tqdm(range(df_merge.shape[0])):
        if df_merge['영화아이디'][i] in movie_between:
            num += 1
            temp = df_merge['평점'][i]
            rating_score += temp
            
    return rating_score/num

In [14]:
between_rating_mean2(10, 20)

100%|█████████████████████████████████████████████████████████████████████| 1000209/1000209 [01:28<00:00, 11277.05it/s]

3.5112717992343683